[
    {
        elvis,
        [
            {config,
                [#{dirs => ["src"],
                    filter => "*.erl",
                    ruleset => erl_files,
                    rules => [{elvis_style, line_length, #{limit => 200}}]
                }
                ]
            }
        ]
    }
].